---
title: Blog
pagination:
  data: collections.blog
  size: 10
  alias: posts
---
{% extends "_layouts/base.html" %}

{% block mainContent %}
{% for post in posts %}
  <div class="c-blog-card">
    <h2 class="c-blog-card__title"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
    <p class="c-blog-card__category">This article relates to 
      {% for tag in post.data.tags %}
        {% if tag == "awareness" %}
        <a href="#">Ways of working</a>
        {% endif %}
        {% if tag == "knowledgeSharing" %}
        <a href="#">Knowledge sharing</a>
        {% endif %}
      {% endfor %}
    </p>
    <p class="c-blog-card__summary">
    {{ post.data.summary }}
    </p>
    <a href="{{ post.url | url }}" class="c-blog-card__link">Read {{ post.data.title }}</a>
    <p class="c-blog-card__author">Written by 
      {% for author in post.data.author %}
      <a href="#">{{author}}</a>{% if loop.last %}{% else %}{% if loop.index == loop.length-1 %}<span> and </span>{% else %}<span>, </span>{% endif %}{% endif %}
      {% endfor %}
    </p>
  </div>

{% endfor %}
{% endblock %} 