<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>{{title}} - A11Y Publishing Test</title>
    <style>
      {% include "css/test.css" %}
    </style>
  </head>
  <body>
    <a href="#main" class="c-skip_link">Skip to main content</a>
    <header>
      <p>A11Y Publishing Test</p>
      <nav>
        <ul class="c-nav">
          <li class="c-nav__item"><a href="{{ / | url }}">Home</a></li>
          <li class="c-nav__item"><a href="{{ /blog/ | url }}">Blog</a></li>
          <li class="c-nav__item">About us</li>
        </ul>
      </nav>
    </header>
    <main id="main">
      <h1>{{ title }}</h1>
      {% block mainContent %}
        {{ content | safe }}
      {% endblock %} 
    </main>
    <footer>
      <nav>
        <a href="#">Accessibility statement</a>
      </nav>
    </footer>
  </body>
</html>